#main-context-menu{
    position: fixed;
    z-index: 100000;
    width: 175px;
    background-color: whitesmoke;
    border-radius: 8px;
    top: 0;
    border: 1px solid black;
    transform: scale(0);
    transform-origin: top left;
    transition: all ease-in-out 200ms;
    overflow: hidden;
}
#main-context-menu.active{
    transform: scale(1);
}
#main-context-menu .item-c-mm{
    padding: 4px;
    font-size: .75rem;
    cursor: pointer;
}
#main-context-menu .item-c-mm:hover{
    background-color: #130f40;
    color: lightcoral;
}
.hidden-input{
    display: none;
}