.mini-menu-container {
    padding-left: .6rem;
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    position: relative;
}
.three-dots {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: whitesmoke;
    background-color: transparent;
}
.three-dots:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
}
.mini-menu {
    position: absolute;
    top: 1.1rem;
    list-style: none;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    background-color: white;
    display: none;
}
.mini-menu li{
    color:#0b0c10;
    font-size: .8rem;
}
.mini-menu li:hover{
    color: lightcoral;
    cursor: pointer;
}
.icon-menu {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin: 0;
    padding: 0;
}
.resource-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 2rem 2rem 1rem;
    gap: 6px;
}
.resource-name{
    text-align: center;
    color: whitesmoke;

}
.r-img{
    cursor: pointer;
}
.resources-container {
    background-color: rgba(19, 19, 19, 0.507);
    margin-left: 20%;
    width: 60vw;
    margin-top: 2%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:1440px){
    .resources-container {
        width: 64vw;
    }
}