.pop-up-text-app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: 200ms ease-in-out;
    height: 95%;
    width: 95%;
    background-color: blue;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    color:whitesmoke;
    flex-direction: column;
}

.pop-up-text-app.active {
    transform: translate(-50%, -50%) scale(1);
}

.text-app-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    
}

.text-app-title {
    font-size: 2rem;
}

.text-app-close-btn {
    cursor: pointer;
    font-size: 2rem;
}

.text-app-menubar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    gap: 2rem;
    flex-wrap: wrap;
    
}
.warning-text{
    position: absolute;
    right:2rem;
    font-size: 1rem;
    color: #ff0000;
}

@media screen and (max-width:1024px){
    .warning-text{
        right: 0;
        font-size: .75rem;
    }    
}

.text-app-menu-item {
    height: 2rem;
    cursor: pointer;
    border-radius: 8px;
}
.text-app-menu-item:hover {
    box-shadow: 0px 0px 2px 2px #ffffff;
}

.text-app-menu-item.material-icons {
    font-size: 2rem;
}

.text-app-menu-item.material-icons.active {
    box-shadow: 0px 0px 4px 2px #ffffff;
    background-color: rgb(0, 0, 0);
}

input.text-app-menu-item{
    background-color: rgb(72, 72, 72);
    color: white;
}

.text-app-textarea-container {
    display: flex;    
    height: 100%;
    padding: .3rem;
    overflow: hidden;
}

.text-app-textarea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    background-color: aliceblue;
    color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.text-app-textarea:focus {
    border: none;
    outline: none;
}